.projects_total {
    width: 975px;
    height: 480px;
    animation-name: projectsGrow;
    animation-duration: 1s;
}

.projects_tall {
    height: 570px;
    width: 975px;
    animation-name: projectsGrowTall;
    animation-duration: 1s;
}

@keyframes projectsGrow {
    0%      {opacity: 0; height: 0px}
    100%    {opacity: 1; height: 480px}
}

@keyframes projectsGrowTall {
    0%      {opacity: 0; height: 0px}
    100%    {opacity: 1; height: 570px}
}

.projects_shrunk {
    height: 0px;
    width: 975px;
    overflow: hidden;
    animation-name: projectsShrink;
    animation-duration: 1s;
}

@keyframes projectsShrink {
    0%      {opacity: 1; height: 480px}
    100%    {opacity: 0; height: 0px}
}

.projects_header {
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.projects {
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    text-align: center;
    color: gray;
}

.project_name {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.specialProject {
    color: black;
    text-decoration: none;
}

.project_title {
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
    text-decoration: underline;
}

.project_description {
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

.project_links {
    float: right;
    display: flex;
    flex-direction: row;
}

.border {
    width: 2px;
    height: 26px;
    background-color: gray;
    margin-right: 10px;
    margin-left: 10px;
}

.hidden_project {
    display: none;
}

.zombie_pic {
    border-radius: 5px;
    margin: 10px;
    float: left;
    background-image: url("../images/dontDieTogether/dontDieTogether.png");
    width: 500px;
    height: 306px;
    background-size: cover;
    background-position: center;
}

.windWaves_pic {
    border-radius: 5px;
    margin: 10px;
    float: left;
    background-image: url("../images/windWaves/windWaves.png");
    width: 500px;
    height: 306px;
    border-radius: 3px;
    background-size: cover;
}

.chessMove_pic {
    border-radius: 5px;
    margin: 10px;
    float: left;
    background-image: url("../images/chessMove/chessMove.png");
    width: 500px;
    height: 424px;
    border-radius: 3px;
    background-size: cover;
}

#checkmatey_pic {
    border-radius: 5px;
    margin: 10px;
    float: left;
    width: 500px;
    height: 306px;
    background-size: cover;
}

.checkMatey_pic0 {
    background-image: url("../images/checkMatey/checkmatey1.png");
    animation-name: pic-fade-in0;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.checkMatey_pic1 {
    background-image: url("../images/checkMatey/checkmatey3.png");
    animation-name: pic-fade-in1;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.checkMatey_pic2 {
    background-image: url("../images/checkMatey/checkmatey2.png");
    animation-name: pic-fade-in2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.checkMatey_pic3 {
    background-image: url("../images/checkMatey/checkmatey4.png");
    animation-name: pic-fade-in03;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.checkMatey_pic4 {
    background-image: url("../images/checkMatey/checkmatey5.png");
    animation-name: pic-fade-in4;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#graffiti_pic {
    border-radius: 5px;
    margin: 10px;
    float: left;
    width: 500px;
    height: 306px;
    background-size: cover;
}

.graffiti_pic0 {
    background-image: url("../images/graffiti/craigslistA.png");
    animation-name: pic-fade-in0;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.graffiti_pic1 {
    background-image: url("../images/graffiti/chessA.png");
    animation-name: pic-fade-in1;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.graffiti_pic2 {
    background-image: url("../images/graffiti/historyA.png");
    animation-name: pic-fade-in2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.graffiti_pic3 {
    background-image: url("../images/graffiti/accountA.png");
    animation-name: pic-fade-in3;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.graffiti_pic4 {
    background-image: url("../images/graffiti/newsA.png");
    animation-name: pic-fade-in4;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.graffiti_pic5 {
    background-image: url("../images/graffiti/newA.png");
    animation-name: pic-fade-in5;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.graffiti_pic6 {
    background-image: url("../images/graffiti/tagA.png");
    animation-name: pic-fade-in6;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.graffiti_pic7 {
    background-image: url("../images/graffiti/youtubeA.png");
    animation-name: pic-fade-in7;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes pic-fade-in0 {
    0%      { opacity: 0; }
    100%     { opacity: 1; }
}
@keyframes pic-fade-in1 {
    0%      { opacity: 0; }
    100%     { opacity: 1; }
}
@keyframes pic-fade-in2 {
    0%      { opacity: 0; }
    100%     { opacity: 1; }
}
@keyframes pic-fade-in3 {
    0%      { opacity: 0; }
    100%     { opacity: 1; }
}
@keyframes pic-fade-in4 {
    0%      { opacity: 0; }
    100%     { opacity: 1; }
}
@keyframes pic-fade-in5 {
    0%      { opacity: 0; }
    100%     { opacity: 1; }
}
@keyframes pic-fade-in6 {
    0%      { opacity: 0; }
    100%     { opacity: 1; }
}
@keyframes pic-fade-in7 {
    0%      { opacity: 0; }
    100%     { opacity: 1; }
}